body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFF;
}
.card {
    width: 1000px;
    border: 1px solid #000;
    background-color: #F5F5DC;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
}

.card-content {
    padding: 20px;
    float: left;
    width: 60%; /* Set the content width */
}

.card-image {
    float: right;
    margin: 20px 12px;
    width: 33%; /* Set the image width */
}

.card img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}